.comment {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
  min-height: 50px;
}

.comment button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.comment button:hover {
  background-color: #0056b3;
}
