body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.cancel-btn {
  background-color: #dc3545 !important;
}
.delete-btn {
  background-color: #dc3000 !important;
}
.edit-btn {
  background-color: #ffc100 !important;
  color: #574957 !important;
}
